{
  // "presets": [
  //   ["es2015", { "modules": false }]
  // ]

  "presets": [["env", { "modules": false }]],
  "env": {
    "test": {
      "presets": [["env", { "targets": { "node": "current" } }]]
    }
  }
}